In [28]:
import pandas as pd
df = pd.read_csv('salaries_by_college_major.csv')
df.head()
df.isna()
clean_df = df.dropna()
clean_df.tail()
clean_df['Starting Median Salary'].max()
clean_df['Starting Median Salary'].idxmax()
# clean_df.loc[43]
clean_df['Undergraduate Major'][43]

'Physician Assistant'

In [29]:
clean_df

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business
5,Art History,35800.0,64900.0,28800.0,125000.0,HASS
6,Biology,38800.0,64800.0,36900.0,135000.0,STEM
7,Business Management,43000.0,72100.0,38800.0,147000.0,Business
8,Chemical Engineering,63200.0,107000.0,71900.0,194000.0,STEM
9,Chemistry,42600.0,79900.0,45300.0,148000.0,STEM
10,Civil Engineering,53900.0,90500.0,63400.0,148000.0,STEM
11,Communications,38100.0,70000.0,37500.0,143000.0,HASS
12,Computer Engineering,61400.0,105000.0,66100.0,162000.0,STEM
13,Computer Science,55900.0,95500.0,56000.0,154000.0,STEM
14,Construction,53700.0,88900.0,56300.0,171000.0,Business
15,Criminal Justice,35000.0,56300.0,32200.0,107000.0,HASS
16,Drama,35900.0,56900.0,36700.0,153000.0,HASS
17,Economics,50100.0,98600.0,50600.0,210000.0,Business
18,Education,34900.0,52000.0,29300.0,102000.0,HASS
19,Electrical Engineering,60900.0,103000.0,69300.0,168000.0,STEM
20,English,38000.0,64700.0,33400.0,133000.0,HASS
21,Film,37900.0,68500.0,33900.0,136000.0,HASS
22,Finance,47900.0,88300.0,47200.0,195000.0,Business
23,Forestry,39100.0,62600.0,41000.0,111000.0,Business
24,Geography,41200.0,65500.0,40000.0,132000.0,HASS
25,Geology,43500.0,79500.0,45000.0,156000.0,STEM
26,Graphic Design,35700.0,59800.0,36000.0,112000.0,HASS
27,Health Care Administration,38800.0,60600.0,34600.0,101000.0,Business
28,History,39200.0,71000.0,37000.0,149000.0,HASS
29,Hospitality & Tourism,37800.0,57500.0,35500.0,124000.0,Business
30,Industrial Engineering,57700.0,94700.0,57100.0,173000.0,STEM
31,Information Technology (IT),49100.0,74800.0,44500.0,129000.0,STEM
32,Interior Design,36100.0,53200.0,35700.0,107000.0,HASS
33,International Relations,40900.0,80900.0,38200.0,157000.0,HASS
34,Journalism,35600.0,66700.0,38400.0,145000.0,HASS
35,Management Information Systems (MIS),49200.0,82300.0,45300.0,146000.0,STEM
36,Marketing,40800.0,79600.0,42100.0,175000.0,Business
37,Math,45400.0,92400.0,45200.0,183000.0,STEM
38,Mechanical Engineering,57900.0,93600.0,63700.0,163000.0,STEM
39,Music,35900.0,55000.0,26700.0,134000.0,HASS
40,Nursing,54200.0,67000.0,47600.0,98300.0,Business
41,Nutrition,39900.0,55300.0,33900.0,99200.0,HASS
42,Philosophy,39900.0,81200.0,35500.0,168000.0,HASS
43,Physician Assistant,74300.0,91700.0,66400.0,124000.0,STEM
44,Physics,50300.0,97300.0,56000.0,178000.0,STEM
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

In [41]:
print(clean_df['Mid-Career Median Salary'].max())
print(f"Index for the max mid career salary: {clean_df['Mid-Career Median Salary'].idxmax()}")
clean_df["Undergraduate Major"][8]

107000.0
Index for the max mid career salary: 8

'Chemical Engineering'

In [45]:
print(clean_df['Starting Median Salary'].min())
print(clean_df['Undergraduate Major'].loc[clean_df['Starting Median Salary'].idxmin()])
clean_df.loc[clean_df['Mid-Career Median Salary'].idxmin()]

34000.0
Spanish

Undergraduate Major                  Education
Starting Median Salary                 34900.0
Mid-Career Median Salary               52000.0
Mid-Career 10th Percentile Salary      29300.0
Mid-Career 90th Percentile Salary     102000.0
Group                                     HASS
Name: 18, dtype: object

In [47]:
spread_col = clean_df['Mid-Career 90th Percentile Salary'].subtract(clean_df['Mid-Career 10th Percentile Salary'])
clean_df.insert(1, 'Spread', spread_col)
clean_df.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business

In [50]:
low_risk = clean_df.sort_values('Spread')
low_risk[['Undergraduate Major', 'Spread']].head()

           Undergraduate Major   Spread
40                     Nursing  50700.0
43         Physician Assistant  57600.0
41                   Nutrition  65300.0
49                     Spanish  65400.0
27  Health Care Administration  66400.0

In [60]:
highest_value_90th = clean_df.sort_values("Mid-Career 90th Percentile Salary", ascending=False)
highest_value_90th[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

In [61]:
greatest_spread_salaries = clean_df.sort_values("Spread", ascending=False)
greatest_spread_salaries[['Undergraduate Major', 'Spread']].head()

   Undergraduate Major    Spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0

In [67]:
medium_salaries = clean_df.sort_values("Mid-Career Median Salary", ascending=False)
medium_salaries[['Undergraduate Major', 'Mid-Career Median Salary']]

                     Undergraduate Major  Mid-Career Median Salary
8                   Chemical Engineering                  107000.0
12                  Computer Engineering                  105000.0
19                Electrical Engineering                  103000.0
1                  Aerospace Engineering                  101000.0
17                             Economics                   98600.0
44                               Physics                   97300.0
13                      Computer Science                   95500.0
30                Industrial Engineering                   94700.0
38                Mechanical Engineering                   93600.0
37                                  Math                   92400.0
43                   Physician Assistant                   91700.0
10                     Civil Engineering                   90500.0
14                          Construction                   88900.0
22                               Finance                   88300.0
35  Management Information Systems (MIS)                   82300.0
42                            Philosophy                   81200.0
33               International Relations                   80900.0
9                              Chemistry                   79900.0
36                             Marketing                   79600.0
25                               Geology                   79500.0
45                     Political Science                   78200.0
0                             Accounting                   77100.0
4                           Architecture                   76800.0
31           Information Technology (IT)                   74800.0
7                    Business Management                   72100.0
2                            Agriculture                   71900.0
28                               History                   71000.0
11                        Communications                   70000.0
21                                  Film                   68500.0
40                               Nursing                   67000.0
34                            Journalism                   66700.0
24                             Geography                   65500.0
5                            Art History                   64900.0
6                                Biology                   64800.0
20                               English                   64700.0
23                              Forestry                   62600.0
3                           Anthropology                   61500.0
27            Health Care Administration                   60600.0
46                            Psychology                   60400.0
26                        Graphic Design                   59800.0
48                             Sociology                   58200.0
29                 Hospitality & Tourism                   57500.0
16                                 Drama                   56900.0
15                      Criminal Justice                   56300.0
41                             Nutrition                   55300.0
39                                 Music                   55000.0
32                       Interior Design                   53200.0
49                               Spanish                   53100.0
18                             Education                   52000.0
47                              Religion                   52000.0